body {
background: rgb(230, 230, 230 ); 
color: rgb(50,50,50,);
font-family: helvetica;
font-size: 17px;

}
h1, h2{
	font-family: courier;
}

h1 {
	color: purple;
	
	letter-spacing: 5px;
	font-size:32px;
	text-transform: uppercase;
} 
h2{
	color: rgb(100,100,100);
	font-weight: lighter;
	font-size: 24px;
}
a {
	text-decoration: none;
	

}
a:hover {
	color:black;
}
img {
  width: 200px; 
  height: auto;  
}
div {
   
    
}
.card-design {
  border: 1px solid pink;
  width: 800px;
  background: white;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  text-align: center;
}
@media (max-width: 500px) {
	.card-design {
		width: 400px;
	}



}
.img-circle {
	border-radius: 600px;
}
.btn-blue {
	background-color: blue;
	color: white;
	padding: 10px 10px;

}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;

}
.list-inline i {
	font-size: 40px; 
}


